@use "sass/variables" as *;

.input-c {
    &__input::placeholder {
        color: $color_primary_0;
    }

    &__input:focus {
        outline: none;
    }

    &__icon {
        .MuiSvgIcon-root {
            color: $color_primary;
        }
    }

    &__password-icon {
        .MuiSvgIcon-root {
            color: $color_primary;
        }
    }
}
