@use "sass/variables" as *;

.input-c {
    &__icon {
        .MuiSvgIcon-root {
            position: absolute;
            top: 1rem;
            left: 1rem;

            color: $color_primary;
        }
    }

    &__password-icon {
        .MuiSvgIcon-root {
            position: absolute;
            top: 1rem;
            right: 1rem;

            color: $color_primary;
        }
    }
}
